body{
    background-color: gray;
    color: white
}
body{margin:0;padding:0}


.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-top: 15px;
    position: relative;
    
}
.container{
    width: 1100px;
    margin:0 auto;
}

ul{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: white;
}

.header__nav li{
    padding: 20px;
    vertical-align: middle;
}

.header__nav input{
    padding: 10px;
    border-radius: 4px;
    border-color: transparent;
    margin-top: -20px;
}

.menu-burger{
    display: none;
    margin-right: 20px;
    width: 40px;   
}

.menu-burger img{
    width: 40px;
}

.header_logo{
    height: 40px;
    width: auto;
    padding: 7px
}
hr{
    margin: 0cm;
    padding: 0cm;
}
main img{
    width: 100%;
}

.main_carousel{
    position: relative;
}

.main__title{
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(-50% -50%);
    
}

.btn{
    margin-top: 20px;
    margin-right: 5px;
    padding: 10px 25px;
}

.btn-green{
    background-color: #8dd83d;
    border-color: transparent;
}
.btn-gray{
    background: linear-gradient(180deg #686C6F 0%, #373A3C 100%);
}

.best h2{
    margin: 20px 0px;
}

.best__title{
    text-align: center;
    margin: 50px auto;
}

.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    display:flex;
    flex-direction: column;
    width: 320px;
    border-radius: 8px;
    color: gray;
    background-color: white;
    font-weight: 100;
    margin: 20px auto;
}
.card img{
    width: 100%;
    flex: 1;
}
.card-button{
    width: 90%;
    text-align: center;
    flex: 1;
    padding: 20px;
    margin: 20px auto;
}

.card button{
    width: 90%;
    padding: 20px;
}

.card-title{
    width: 90%;
    margin: 30px auto;
    flex: 2;
    text-align: center;
}

.gameimg{
    width:100%;
    
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
    .container{
        width: 90%;
    }

}

/* Portrait tablets and medium desktops */
@media (max-width: 992px)  {
 
    .card{
        width:250px;
    }

    .header__nav{
        display:none
    }

    .menu-burger{
        display:block;
        width: 15px;
    }
}





/* Portrait tablets and small desktops */
@media (max-width: 768px)  {
    .card{
        width: 180px
    }

    main img{
        object-fit: cover;
        height: 350px;
    }

    .main__btn .btn{
        padding: 10px 15px;
        font-size:14px;
    }
    .main__title{
        right: 10%;
    }
}

/* Landscape phones and portrait tablets */


@media (max-width: 650px) {
    
}